.mainTitle{
    font-size: 100px;
}


.selectTitle{
    margin: 20px 0;
}

.items{
    display: flex;
    gap: 50px;
}

.item{
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    position: relative;
    background-size: cover !important;
}
.item:first-child{
    background: url("/illustration.png");
}
.item:nth-child(2){
    background: url("/websites.jpg");
}
.item:last-child{
    background: url("/apps.jpg");
}

.title{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

.item:hover .title{
    color: #53C28B;
}