.container{
  display: flex;
  align-items: center;
  gap: 100px;
}

.item{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title{
  font-size: 72px;
  background: linear-gradient(to bottom, #194C33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc{
  font-size: 24px;
  font-weight: 300;
}


.img{
  width: 100%;
  height: 500px;
  object-fit: conatin;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateX(0px) scale(1.03);
    }
}