.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 5px;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

.button{
    cursor: pointer;
    padding: 20px;
    background-color: #53C28B;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
  }